form {
    width: 400px;
    margin: 50px auto;
    font-family: Arial, sans-serif;
}
.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
label {
    width: 40%; 
    margin-right: 10px; 
}


input[type="submit"] {
    width: 100%;
    padding: 8px;
    background-color: #ccc;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: red;
}

input[type="text"], input[type="email"], input[type="url"] {
    width: calc(100% - 40px); 
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    padding-right: 34px;
    position: relative;
}

.input-icon {
    transform: translateY(-50%);
    color: #ccc;
    font-size: 16px;
}
input:valid + .input-icon {
    color: green;
    content: '\f00c';
}

input:invalid + .input-icon {
    color: red;
    content: '\f00d'; 
}

